@charset "UTF-8";

body {
  background-color: #CFE5FF;
  font-family: "Vardana", "Hiragino Sans", "Mairyo", sans-serif;
}

h1 {
  font-size: 18px;
  border: 3px solid #00acee;
  background-color: #00acee;
  border-radius: 20px;
  padding: 6px 0;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  color: #ffffff;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

p, ul {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  width: 300px;
  margin: 0 auto;
}

li {
  margin-bottom: 20px;
}

a {
  background-color: #00acee;
  display: block;
  padding: 20px 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  background-color: #19b8f7
}